.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.test {
  width: 30%;
  height: 500px;
  position: absolute;
  left: 34%;
  top: 20%;
}
